entrypoint = "лр3.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "лр3.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[userenv]

[userenv.shared]
ADMIN_KEY = "flflkroirwf"
HASH_SECRET = "rfkokrf"
RESTORE_KEY = "foprkggvfv"
SIGNATURE_KEY = "deravfhtvgsrvnsf"
